 .nav
 {
 	float: right;
 }
 .tete
 {
 	background-color:#5cb85c;
 }
 h1
 {
 	text-transform: lowercase;
 	  	text-shadow: 2px 3px white;
 	font-weight: bold;
 }
 .footer
 {
 	     background-color: #777;
 	     text-align: center;
 }
 	     h2
{
  font-size: 3.5em;
  color: #3f5201;

 }
 .corps
 {
 	 background: url(images/bg.png); 

 }
 form
 {
 	color:#ba1
 }
 
 .jeux
 {
 	background-color:#fff;
 	color: #222;
 	font-size: 1.5em;
 	text-align: justify;
 	font-family: tahoma;
 	padding: auto;
 }
 .orange
 {
 	background-color: yellow;
 }